myvenv/



# Ignore compiled Python files
__pycache__/
*.pyc


# Ignore sensitive configuration
*.secret
*.db

# Ignore IDE and text editor files
.vscode/
.idea/
*.sublime-*

# Ignore log files
*.log

# Ignore database files
*.sqlite3